@font-face {
    font-family: 'IranYekan';
    src: url('assets/font/IRANYekanXFaNum-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'IranYekan';
    src: url('assets/font/IRANYekanXFaNum-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IranYekan';
    src: url('assets/font/IRANYekanXFaNum-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'IranYekan';
    src: url('assets/font/IRANYekanXFaNum-Black.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'IranYekan';
    src: url('assets/font/IRANYekanXFaNum-ExtraBlack.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body{
    direction: rtl;
    font-family: 'IranYekan';
    padding: 0px;
    margin: 0px;
}

/* Header Top */
.header-top-area{
    background-color: #fcfcfc;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header-top-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 320px;
    gap: 20px;
}
.header-top-first-text{
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.header-top-text {
    text-decoration: none;
    color: #8888888a;
    font-size: 12px;
}

/* header bottom */
.header-bottom-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-bottom-center-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}
.header-bottom-center-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.header-bottom-chekida{
    display: flex;
}
.header-bottom-menu-btn{
    display: none;
    width: 35px;
    height: 35px;
}

.header-bottom-chekida-center{
    display: none;
}

.header-bottom-seacrh-area{
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(240, 245, 255, 1);
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-bottom-search-input {
    background-color: rgba(255, 255, 255, 1);
    font-size: 12px;
    border: none;
    height: 30px;
    font-weight: 400;
    font-family: 'IranYekan';
    color: #A3ADC0;

    width: 600px;
}

.header-bottom-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-bottom-btn-eshterak{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    background: #3DDC97;
    border-radius: 10px;
    font-weight: 600;
    color: #002A32;
    font-size: 12px;
    padding: 10px 20px;

    transition: 150ms;
}
.header-bottom-btn-eshterak:hover{
    background-color: #002A32;
    color: white;
}

.header-bottom-btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    background: white;
    border-radius: 10px;
    font-weight: 600;
    color: #002A32;
    font-size: 12px;
    padding: 9px 19px;
    border-radius: 10px ;
    border: 2px solid #002a32;

    transition: 150ms;
}
.header-bottom-btn-login:hover{
    background-color: #002A32;
    color: white;
}

.header-bottom-btn-login-mini{
    display: none;

    background: rgba(17, 75, 95, 0.1);
    color: #002a32;
    border-radius: 10px;
    padding: 5px;
}

.header-bottom-list{
    display: flex;
    gap: 20px;    
}
.header-bottom-list-items{
    text-decoration: none;
    color: #002A32;
    font-size: 12px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.header-bottom-application{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    padding: 9px 29px;
    border-radius: 10px ;
    color: #A3ADC0;
    background: #FFFFFF;
    border: 2px solid #F0F5FF;
    
    transition: 150ms;
}
.header-bottom-application:hover{
    color: #002A32;
    border: 2px solid #002A32;
}


.baner-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.banner-inside{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    gap: 120px;
}
.banner-text-panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.banner-image{
    border-radius: 20px;
    width: 150px;
}
.banner-btn-brown{
    border: 2px solid #e3e3e2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 80px;
    width: 400px;
    padding: 0px;
    gap: 20px;
    background-color: #2f281e;
    color: #e3e3e2;

    transition: 500ms;
}
.banner-btn-brown:hover{
    background-color: #e3e3e2;
    color: #2f281e;
}
.banner-btn-red{
    border: 2px solid #f4c7b9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 80px;
    width: 400px;
    padding: 0px;
    gap: 20px;
    background-color: #710000;
    color: #f4c7b9;

    transition: 500ms;
}
.banner-btn-red:hover{
    background-color: #f4c7b9;
    color: #710000;
}
.banner-btn-tosi{
    border: 2px solid #e3e3e2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 80px;
    width: 400px;
    padding: 0px;
    gap: 20px;
    background-color: #323230;
    color: #e3e3e2;

    transition: 500ms;
}
.banner-btn-tosi:hover{
    background-color: #e3e3e2;
    color: #323230;
}
.banner-btn-pink{
    border: 2px solid #921E27;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 80px;
    width: 400px;
    padding: 0px;
    gap: 20px;
    background-color: #f6c5cb61;
    color: #921E27;

    transition: 500ms;
}
.banner-btn-pink:hover{
    background-color: #921E27;
    color: white;
}


.banner-btn-text{
    margin: 0px;
    padding: 10px;
    width: 300px;
    border-radius: 80px;

    font-family: 'IranYekan';
    font-weight: 500;
    font-size: 15px;
}
.banner-title{
    font-size: 35px;
}

.slidebar-area{
    padding: 10px 200px;
}
.slidebar-option-scroll{
    overflow-x: auto;
    white-space: nowrap;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}
.slidebar-items{
    text-decoration: none;
    color: #002a32;
    background-color: #F5F5F7;
    padding: 10px 5px;
    border: 2px solid #F5F5F7;
    border-radius: 10px;
    font-weight: 400;
    font-size: 17px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    transition: 300ms;
}
.slidebar-items:hover{
    border: 2px solid #002a32; 
}

.slidebar-book-scroll{
    overflow-x: auto;
    white-space: nowrap;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.slidebar-book-items{
    white-space: initial;

    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    color: #002a32;
    padding: 5px;
}
.slidebar-book-image{
    width: 150px;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);

    transition: 300ms;
}
.slidebar-book-image:hover{
    box-shadow: 0 6px 9px 0 rgb(0 0 0 / 32%);
}
.slidebar-book-bottom-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin-top: -20px;
}
.slidebar-book-bottom-info-mic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3px;
    font-size: 10px;

    border: 2px solid #002a32;
    border-radius: 5px;
}

.card-sort{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: center;
    list-style: none;
}
.card-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 10px;
}
.card-image{
    width: 150px;
    border-radius: 20px;
}
.card-btn{
    text-decoration: none;
    text-align: center;

    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 10px;
    border: 2px solid #002a32;
    background-color: #002a32;
    color: #fff;
    font-weight: 500;

    transition: 200ms;
}
.card-btn:hover{
    background-color: #fff;
    color: #002a32;
}
.info-btn-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.info-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    background: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #002A32;
    padding: 9px 19px;
    border-radius: 10px ;
    border: 2px solid #002a32;

    transition: 150ms;
}
.info-btn:hover{
    background-color: #002A32;
    color: white;
}

.footer-style{
    background-color: white;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #002a32;
}

.footer-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002A32;
    border-radius: 30px;
    padding: 0px 30px;
    margin: 10px 50px;
}
.footer-card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.footer-card-icon{
    background-color: #fff;
    color: #002a32;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
.footer-card-btn{
    background-color: #fff;
    color: #002a32;
    text-decoration: none;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 12px; 
}

.footer-bottom-option{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 30px;
}
.footer-bottom-list-option{
    list-style: none;
    font-weight: 500;
    padding-right: 10px;
}
.footer-botoom-list-items{
    text-decoration: none;
    color: #002A32;
}
.footer-end-message{
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .header-top-list{
        padding-right: 100px;
    }
    .header-bottom-search-input{
        width: 450px;
    }
    .slidebar-area{
        padding: 10px 150px;
    }

    .card-sort{
        gap: 15px;
    }
}

@media screen and (max-width: 990px) {
    .header-bottom-center{
        display: inline;
    }
    .header-bottom-center-top{
        justify-content: space-between;
        padding: 30px;
    }
    .header-bottom-center-bottom{
        display: none;
    }
    .header-top-area{
        display: none;
    }
    .header-bottom-chekida{
        display: none;
    }
    .header-bottom-seacrh-area{
        display: none;
    }
    .header-bottom-menu-btn{
        display: flex;
    }
    .header-bottom-chekida-center{
        display: flex;
    }
    .header-bottom-btn-login-mini{
        display: flex;
    }
    .header-bottom-btns{
        display: none;
    }

    .banner-text-panel{
        align-items: center;
    }
    .banner-inside{
        justify-content: space-between;
        padding: 30px;
        gap: 20px;
        width: 75%;
    }
    .banner-btn-brown{
        width: 250px;
        padding-left: 10px;
    }
    .banner-btn-red{
        width: 250px;
        padding-left: 10px;
    }
    .banner-btn-tosi{
        width: 250px;
        padding-left: 10px;
    }
    .banner-btn-pink{
        width: 250px;
        padding-left: 10px;
    }


    .banner-title{
        font-size: 23px;
    }

    .slidebar-area{
        padding: 10px;
    }

    .card-sort{
        grid-template-columns: auto;
    }

    .footer-card{
        margin: 10px;
        font-size: small;
    }

    .footer-bottom-option{
        font-size: small;
    }
}

@media screen and (max-width: 575px) {
    .banner-inside{
        flex-direction: column;
        gap: 30px;
        width: 75%;
    }
    .banner-image{
        width: 50%;
    }   

    .slidebar-area{
        padding: 0px;
    }


    h1{
        font-size: larger;
    }
    h3{
        font-size: large;
    }
    h3{
        font-size: medium;
    }
    p{
        font-size: small;
    }


    .card-items{
        font-size: small;
    }
    .footer-card-icon{
        width: 20px;
        height: 20px;
        padding: 10px;
        border-radius: 10px;
    }
    .footer-card-text{
        font-size: small !important;
    }
    .footer-card-btn{
        padding: 10px;
    }
    .footer-bottom-option{
       flex-direction: column;
       gap: 0px;
       justify-content: flex-start;
       align-items: start;
       padding-right: 20px;
    }
}